/* Enter your custom styles here */
.sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer .sapUxAPObjectPageSubSection .sapUxAPBlockContainer {
    background: unset !important; 
}
.sapMBarPH {
    background-color: #bcd2e6 !important;
}

.sapUxAPAnchorBar.sapMTB {
    background-color: #eff4f9 !important;
}

.sapMTableTH {
    background-color: #f5f6f7 !important;
    border-top: 2px solid #e5e5e5 !important;
}

.sapUiSimpleForm .sapUiFormCL.sapUiFormBackgrTranslucent {
    background-color: unset !important;
}

.sapUxAPObjectPageHeaderContentDesign-Light {
    background-color: #eff4f9 !important;
}